*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #558877;
}

.slider-content{
    margin: 0 auto;
    margin-top: 3vh;
    width: 97vw;
    height: 94vh;
    overflow: hidden;
}

.slider{
    width: 500%;
    height: 94vh;
    display: flex;
}

.slider-image{
    width: 25%;
    height: 95vh;
    transition: 2s;
}

.text-and-puncts{
    transform: translateY(30%);
    width: 400%;
    height: 14.8vh;
    overflow: hidden;
    display: flex;
    background-color: red;
}

.text-slider{
    width: 20%;
    height: 400%;
}

.first-text, .second-text, .third-text, .fourth-text{
    margin-top: 6vh;
    color: #fff;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.image-slide-1, .image-slide-2, .image-slide-3, .image-slide-4{
    height: 80vh;
    width: 97vw;
    border-radius: 2vw;
}

.image-slide-1{
    background: linear-gradient(90deg, rgba(103, 134, 155, 1) 0%, rgba(87, 132, 155, 1) 50%, rgba(89, 138, 179, 1) 100%);
}

.image-slide-2{
    background: linear-gradient(90deg, rgba(59, 60, 62, 1) 0%, rgba(103, 87, 73, 1) 50%, rgba(122, 109, 97, 1) 100%);
}

.image-slide-3{
    background: linear-gradient(90deg, rgba(170, 162, 151, 1) 0%, rgba(113, 114, 107, 1) 50%, rgba(10, 12, 17, 1) 100%);    
}

.image-slide-4{
    background: linear-gradient(90deg, rgba(107, 37, 39, 1) 0%, rgba(215, 143, 146, 1) 50%, rgba(192, 72, 71, 1) 100%);
}

.first-img{
    transform: translateX(7%);
    width: 85vw;
    height: 80vh;
    border-radius: 2vw;
}

.second-img{
    transform: translateX(30%);
    width: 60vw;
    height: 80vh;
    border-radius: 2vw;
}

.third-img{
    transform: translateX(30%);
    width: 60vw;
    height: 80vh;
    border-radius: 2vw;
}

.fourth-img{
    transform: translateX(70%);
    width: 40vw;
    height: 80vh;
    border-radius: 2vw;
}

.text-in-slider{
    transition: 1s;
    height: 100%;
}

.controls{
    transform: translate(87%, -100%);
    display: flex;
}

label{
    transition: 0.5s;
    width: 3vw;
    height: 9vh;
    cursor: pointer;
}

.circle{
    transition: 0.5s;
    width: 50%;
    height: 3vh;
    border: 2px solid #0070aa;
    transform: translateX(50%) translateY(90%);
    border-radius: 100%;
}

.circle:active, .circle:hover{
    background-color: #fff;
    transition: 0.5s;
}

#bar1:active, #bar2:active, #bar3:active, #bar4:active{
    transition: 0.5s;
    background-color: #fff;
    outline-color: #fff;
}

input[name="ctrl-sldr"]{
    width: 0;
    visibility: hidden;
}

.active-control{
    display: flex;
    transform: translateX(-297%) translateY(93.6%);
}

.active-nav1, .active-nav2, .active-nav3, .active-nav4{
    margin-right: 1.5vw;
    border: 2px solid #0070aa;
    width: 1.5vw;
    height: 3vh;
    border-radius: 100%;
}

.num-slide-1, .num-slide-2, .num-slide-3{
    color: #fff;
    transform: translate(35%, 10%);
}

.num-slide-4{
    color: #fff;
    transform: translate(30%, 10%);
}

.active-nav1{
    margin: 0.01vh 0 0 0.81vw;
}

.active-nav2{
    margin: 0.05vh 0 0 1.35vw;
}

.active-nav3{
    margin-left: 1.25vw;
}

.active-nav4{
    margin-left: -0.2vw;
}

/* --------------------------------------- Controls ----------------------------------------------- */

#first:checked ~ .s1{
    margin-left: 0;
}

#second:checked ~ .s1{
    margin-left: -25%;
}

#third:checked ~ .s1{
    margin-left: -50%;
}

#fourth:checked ~ .s1{
    margin-left: -75%;
}

/* --------------------------------------- Active control --------------------------------------------- */

#first:checked ~ .active-control{
    transform: translate(-2972%, 93.6%);
}

#first:checked ~ .active-control .active-nav1{
    background: #0070aa;
    visibility: visible;
}

#second:checked ~ .active-control{
    transform: translate(-2142%, 93.6%);
}

#second:checked ~ .active-control .active-nav2{
    background: #0070aa;
    visibility: visible;
}

#second:checked ~ .slider-image .image-slide-2{
    background: linear-gradient(90deg, rgba(59, 60, 62, 1) 0%, rgba(103, 87, 73, 1) 50%, rgba(122, 109, 97, 1) 100%);
}

#third:checked ~ .active-control{
    transform: translate(-1212.2%, 93.6%);
}

#third:checked ~ .active-control .active-nav3{
    background: #0070aa;
    visibility: visible;
}

#fourth:checked ~ .active-control{
    transform: translate(-282.6%, 93.7%);
}

#fourth:checked ~ .active-control .active-nav4{
    background: #0070aa;
    visibility: visible;
}